.container {
  text-align: center;
  padding: 3%;
  border-radius: 8px;
  background-color: white;
  margin: 3%;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  width: 50%;
  height: 60%;
  box-shadow: 0 1px 3px rgb(16, 66, 122);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.chart {
  height: 50%;
  width: 50%;
}

.title {
  margin-bottom: 25px;
}

/* .keys {
  width: 100%;
  height: 40%;
  margin-top: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.key {
  text-align: left;
  height: fit-content;
  width: 90%;
  color: gray;
  font-size: 10px;
  margin: 4px;
  display: block;
} */

@media (max-width: 1449px) {
  .container {
    display: none;
  }
}
