.bar {
  width: 100%;
  padding: 10px;
  height: 60px;
  background: linear-gradient(90deg, rgb(99, 2, 255), rgb(57, 85, 246));
  color: white;
  font-size: 18px;
  letter-spacing: 0.7px;
  box-shadow: 0 2px 10px rgb(68, 67, 67);
  display: flex;
  align-items: center;
}

.navigateBack {
  height: 30px;
  width: 25px;
  display: flex;
  align-items: center;
  padding: 2px;
  margin-right: 10px;
}

.goto_home {
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  left: -30px;
}

.overlay {
  width: 100%;
  padding: 10px;
  height: 180px;
  background: linear-gradient(90deg, rgb(99, 2, 255), rgb(57, 85, 246));
  position: relative;
  z-index: -1;
}

.go_back:hover,
.goto_home:hover {
  color: rgb(204, 201, 201);
}

@media (max-width: 750px) {
  .title {
    width: 100%;
    text-align: center;
    position: relative;
    left: -50px;
  }

  .navigateBack {
    margin-right: 0;
    height: 25px;
    width: 20px;
  }
}
