.result {
  position: relative;
  height: 95vh;
}

.container {
  width: 400px;
  height: fit-content;
  background: white;
  box-shadow: 0 1px 20px rgb(136, 135, 135);
  position: relative;
  left: 50%;
  top: -150px;
  padding: 0 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
  border-radius: 8px;
  overflow: hidden;
}

.infoTag {
  width: 400px;
  height: fit-content;
  background: white;
  box-shadow: 0 1px 2px gray;
  position: relative;
  left: 50%;
  top: -150px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  transform: translateX(-50%);
}

.infoTag span {
  margin: 10px 10px 10px 6px;
}

.infoTag span:nth-child(1) {
  color: palevioletred;
  font-weight: bold;
}
.infoTag span:nth-child(2) {
  color: rgb(98, 0, 255);
  font-weight: bold;
}

.infoTagWeb {
  display: none;
}

.analyzeTag {
  display: none;
}

.tagsContainer {
  width: 110%;
}

.card_container {
  width: 100%;
}

.modal_web {
  display: none;
}

.nameTag {
  width: 100%;
  height: fit-content;
  background: linear-gradient(90deg, rgb(143, 81, 241), rgb(103, 123, 235));
  position: relative;
  color: white;
  top: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* _________________________________________ */

@media (min-width: 1450px) {
  .container {
    width: 60vw;
    flex-direction: row;
    padding: 20px;
    height: 80vh;
    top: -100px;
    box-shadow: 0 1px 20px rgb(71, 69, 69);
    background: linear-gradient(90deg, rgb(143, 81, 241), rgb(103, 123, 235));
  }

  .modal_web {
    display: block;
  }

  .infoTag {
    display: none;
  }
  .infoTagWeb,
  .analyzeTag {
    display: block;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 1px 20px rgb(71, 69, 69);
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
    background: white;
    word-wrap: break-word;
  }
  
  .infoTagWeb{
   whitespace: nowrap; 
  }

  .analyzeTag {
    font-size: 15px;
    height: 35%;

    cursor: pointer;
  }

  .analyzeTag div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .analyzeTag span {
    font-size: 13px;
    padding: 10px 5px;
    font-weight: normal;
    width: 100%;
    word-spacing: 5px;
    line-height: 1.5;
  }

  .analyzeTag:hover {
    background: #eee;
  }

  .analyzeTag:active {
    transform: scale(0.98);
  }

  .infoTagWeb span {
    margin: 10px 10px 10px 6px;
  }

  .infoTagWeb span:nth-child(1) {
    color: palevioletred;
    font-weight: bold;
  }
  .infoTagWeb span:nth-child(2) {
    color: rgb(98, 0, 255);
    font-weight: bold;
  }

  .nameTag {
    height: 20%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 20px rgb(71, 69, 69);
  }

  .web_design {
    background: palevioletred;
  }

  .tagsContainer {
    flex: 0.3;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .gpaTag {
    font-weight: bold;
    height: 15%;
  }

  .card_container {
    padding: 2% 5%;
    background: white;
    margin: 10px;
    margin-left: 30px;
    flex: 0.7;
    height: 90%;
    border-radius: 8px;
    overflow-x: hidden;
    width: 60%;
    display: grid;
    box-shadow: 0 1px 20px rgb(71, 69, 69);
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    overflow-y: scroll;
  }
}

/* __________________________________________ */

@media (max-width: 750px) {
  .container {
    width: 95vw;
  }

  .infoTag {
    width: 95vw;
    font-size: 14px;
  }

  .nameTag {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .container {
    width: 300px;
  }

  .infoTag {
    width: 300px;
    font-size: 13px;
  }

  .nameTag {
    font-size: 13px;
  }
}
