.analyzer {
  height: 100vh;
  position: relative;
}

.chart_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: fit-content;
  min-width: 90vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}
