.analyzer {
  height: 100vh;
  position: relative;
}

.chart_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: fit-content;
  min-width: 90vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
}

@media (max-width: 990px) {
  .chart_container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(-50%, -50%);
  }
}
