@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

html {
  overflow-x: hidden;
}

:root {
  --dark-mode-text-color: #ffffff;
  --dark-mode-background-color: #333333;
  --dark-mode-primary-color: #0084ff;
}

.dark-mode {
  color: var(--dark-mode-text-color);
  background-color: var(--dark-mode-background-color);
}

.dark-mode .button {
  color: var(--dark-mode-text-color);
  background-color: var(--dark-mode-primary-color);
}

.dark-mode .text {
  color: var(--dark-mode-text-color);
}

