@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --sub-color--: #ff7d7d;
  --sub-code-bg-color--: #63b1fa;
  --grade-color--: #1c5990;
  --int-color--: #ff7d7d;
  --ext-color--: #748de8;
  --tot-color--: #fa9a0a;
  --credit-color--: #e5de32;
  --font--: "Roboto", sans-serif;
}

.data_card {
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 60px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(255, 125, 125);
}

.upper_container {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 3px;
}

.subject_name {
  color: var(--sub-color--);
  font-weight: bold;
  font-size: 12.5px;
  flex: 0.5;
}

.code {
  width: fit-content;
  min-width: 60px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  background: var(--sub-code-bg-color--);
  flex: 0.2;
}

.grade {
  font-size: 35px;
  min-width: 50px;
  font-weight: bold;
  color: var(--grade-color--);
  font-family: var(--font--);
  flex: 0.2;
}

.lower_container {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lower_container span {
  padding: 4px 6px;
  flex: 1;
  font-weight: bold;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.int {
  background: var(--int-color--);
  font-family: var(--font--);
  border-radius: 5px 0 0 5px;
}
.ext {
  background: var(--ext-color--);
  font-family: var(--font--);
}
.tot {
  background: var(--tot-color--);
  font-family: var(--font--);
}
.credit {
  background: var(--credit-color--);
  font-family: var(--font--);
  border-radius: 0 5px 5px 0;
}

/* _________________________________ */

@media (min-width: 1450px) {
  .data_card {
    position: relative;
    width: 155px;
    height: 170px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
    margin: 10px;
    box-shadow: 2px 1px 18px rgb(136, 135, 135);
  }

  .upper_container {
    flex-direction: column;
    height: 40%;
    background: #5d69d6;
    border-radius: 8px 8px 0 0;
  }

  .grade,
  .subject_name,
  .code {
    position: absolute;
  }

  .grade {
    top: 2%;
    color: white;
  }

  .code {
    top: 35%;
  }

  .subject_name {
    top: 55%;
    width: 100%;
    font-size: 12px;
    font-weight: bolder;
    padding: 5px;
  }

  .lower_container {
    background-color: rgba(97, 105, 99, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    color: white;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
  }

  .data_card:hover .lower_container {
    opacity: 1;
  }

  .int,
  .ext,
  .tot,
  .credit {
    width: fit-content;
    min-width: 70%;
    margin: auto;
  }

  .int {
    border-radius: 5px 5px 0 0;
  }

  .credit {
    border-radius: 0 0 5px 5px;
  }
}

/* _________________________________ */
@media (max-width: 750px) {
  .subject_name {
    font-size: 13px;
  }

  .lower_container span,
  .code {
    font-size: 11px;
  }
}
